body {
    background-color: rgba(236, 240, 240, 0.402);
    color: black; 
    font-size: 80%;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.15em;
}

div.page {
    max-width: 940px;
    min-width: 720px;
    margin: 10px auto 10px auto;
    padding: 20px;
    border-width: 4px;
    border-style: double;
    border-color: #000000;
    background-color: #fff;
}

#logo {
    width: 150px;
    margin: 10px auto 25px auto;
}

ul {
    width: 570px;
    border: 3px solid black;
    border-right-width: 0px;
    border-left-width: 0px;
    padding: 15px;
    margin: 0px auto 0px auto;
    text-align: center;
}

li {
    display: inline;
    margin: 0px 3px;
}

p {
    text-align: center;
    width: 600px;
    margin: 20px auto 20px;
    font-weight: normal;
}

a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    padding: 6px 18px 5px 18px;
}

a:hover {
    color: #cc3333;
    background-color: balck;
}