<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="/static/css/downloads.css">
   <title>Downloads</title>
</head>
<body>
   <div class="container">
      <h2>Your file is available to be downloaded</h2>
      <a href="/return-file" target="blank"><button class="btn btn-default">Download</button></a>
   </div>
</body>
</html>