<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/static/css/index.css">
   <title>Home</title>
</head>
<body>
   <h1>Flask file uploads tutorial</h1>

   <form method='POST' enctype="multipart/form-data">
      <!-- Esto es para poder eliminar ataques de quien sabe qué -->
      {{form.hidden_tag()}}
      <!-- Al chile no tengo ni idea de qué sea esto -->
      {{form.file()}}
      {{form.submit()}}
   </form>
</body>
</html>